<%- include('layout/header.ejs') %>

<div>
    <form action="/add/todo" method="POST">
        <div class="my-5">
                <div class="bg-yellow-200 container mx-auto min-h-full rounded p-10 cursor-pointer">
                    <h1 class="text-bold text-2xl my-3 mb-10">Todo List</h1>
                    <div class="container mx-auto ">
                            <div class="flex">
                                <input type="text" name="todo" placeholder="Enter The Words " class="container mx-auto  border-none pl-10  px-2 bg-white rounded-2xl">
                                <input type="submit" value="Add Todo" name="submit" id="" class="border border-black bg-white rounded-2xl px-5 py-1 mx-5  some ">
                            </div>
                            <div class=" my-10 container mx-auto bg-white rounded ">
                                    <ul class="p-10">
                                               <% todos.forEach(todos =>{ %>
                                                <li class="border-b border-black p-2 mb-5 "><%= todos.todo %> <a href="/delete/todo/  <%= todos._id %>" class="w-full flex justify-end"><i class="fa fa-trash mx-2" aria-hidden="true"></i>
                                                        </a></li>
                                             <%  })%>
                                        
                                    </ul>
                            </div>
                            
                    </div>
                </div>
        </div>
    </form>
</div>
<style>
    .some:hover {
        scale: 1.1;
        cursor: pointer;
    }
</style>
<%- include('layout/footer.ejs') %>